<%- include('../partials/head') %>

<h1>EDIT</h1>
<form action="/user/edit/<%=user.id%>" method="post">
  <input type="hidden" name="id" value=<%=user.id%> >
  <br>
  First name:<br>
  <input type="text" name="first_name" value=<%=user.first_name%> >
  <br>
  Last name:<br>
  <input type="text" name="last_name" value=<%=user.last_name%> >
  <br>
  Email:<br>
  <input disabled type="text" name="email" value=<%=user.email%> >
  <br>
  Age:<br>
  <input type="text" name="age" value=<%=user.age%> >
  <br>
  Weight:<br>
  <input type="text" name="weight" value=<%=user.weight%> >
  <br>
  Height:<br>
  <input type="text" name="height" value=<%=user.height%> >
  <br>
  Exercise level:<br>
  <input type="text" name="exercise_level" value=<%=user.exercise_level%> >
  <br><br>
  <input type="submit" value="Submit">
</form> 

<%- include('../partials/foot') %>