<%- include('../partials/head') %>

  <h1>PROFILE</h1>

  
    <p>First Name: <%= data.first_name %></p>
    <p>Last Name: <%= data.last_name %></p>
    <p>Email: <%= data.email %></p>
  
    <br>
  <ul>
    <li><a href="/user/logout/<%= data.id %>">Log Out</a></li>
    <li><a href="/user/edit/<%= data.id %>">Edit</a></li>
    <li><a href="/user/delete/<%= data.id %>">Delete</a></li>
  </ul>

      <table style="width:100%">
          <tr class="header">
              <th colspan="100%"><center><%= data.getFullName()%> Recipes</center></th>
            </tr>
  <% if (typeof data.Juices[0] != undefined) { %>
      <% for (let i = 0; i < data.Juices.length; i++) { %>
      <tr>
        <td colspan="5"> <%= data.Juices[i].name %> </td>
        <td><a href="/juice/edit/<%=data.Juices[i].id%>">Edit</a></td>
        <td><a href="/juice/delete/<%=data.Juices[i].id%>">Delete</a></td>
      </tr>
      <% } %>
      <tr class="header">
          <th colspan="100%"><center><a href="/juice/add">Add more juice recipe</center></th>
        </tr>
  </table>
  <% } %>

<%- include('../partials/foot') %>