<%- include('../partials/head', {messages}) %>

<form method="post" action="">
  <label>Juice name
    <input type="name" name="name">
  </label>
  <br>
  <hr>
  <br>
  <input type="submit">
  <br>
  <br>
  <hr>
  <br>
  <% for(let i in ingredients) { %>
    <%=ingredients[i].name%><br>
    <input type="radio" name="<%=ingredients[i].name%>-radio" value="0" checked="checked"> no | <input type="radio" name="<%=ingredients[i].name%>-radio" value="1"> yes | amount <input type="text" name="<%=ingredients[i].name%>-amount"> gr<br><br><hr>
    <input type="hidden" name="<%=ingredients[i].name%>" value="<%=ingredients[i].id%>">
  <% } %>
</form>

<%- include('../partials/foot') %>