<%- include('../partials/head') %>

<main>
  <div class="container">
    <div id="ingredientBox">
      <% for(let i in ingredients) { %>
      <div class="ingredientCard">
        <div class="cardTop">

          <div class="cardHead">
            <h3 class="ingredientName"><%= ingredients[i].name %></h3>
            <span class="calorieText">Calorie: <%= ingredients[i].calorie %></span>
          </div>
          <div class="cardBody">
            <ul>
              <li><%= ingredients[i].carbohydrates %> g</li>
              <li><%= ingredients[i].protein %> g</li>
              <li><%= ingredients[i].carbohydrates %> g</li>
            </ul>
          </div>
        </div>
        <div class="cardFoot">
          <h4 class="cardFootTitle">Included in these juices:</h4>
          <ul>
            <% for(let j in ingredients[i].Juices) { %>
              <li><a href="<%=ingredients[i].Juices[j].id%>"><%=ingredients[i].Juices[j].name%></a></li>
            <% } %>
          </ul>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</main>

<%- include('../partials/foot') %>

