<%- include('../partials/head') %>

<main>
  <div class="container">
    <ul id="ingredientList">
      <% for(let i in ingredients) { %>
        <li>
          <ul class="ingredientHeader">
            <li><%= ingredients[i].name %> </li>
            <li><%= ingredients[i].calorie %></li>
          </ul>
        </li>
        <li>
          <ul class="ingredientBody">
            <li><%= ingredients[i].carbohydrates %> g</li>
            <li><%= ingredients[i].protein %> g</li>
            <li><%= ingredients[i].fat %> g</li>
            <li><%= ingredients[i].carbohydrates %> g</li>
          </ul>
        </li>
        <li>
          <ul class="ingredientJuices">
            <% for(let j in ingredients[i].Juices) { %>
            <li>
              <a href="/juice/<%=ingredients[i].Juices[j].id%>"><%=ingredients[i].Juices[j].name%></a>
            </li>
            <% } %>
          </ul>
        </li>
      <% } %>
    </ul>
  </div>
</main>

<%- include('../partials/foot') %>

